:root{
    /* ### Primary */

--Dark-cyan: hsl(185, 75%, 39%);
--Very-dark-blue: hsl(229, 23%, 23%);
--Dark-grayish-blue: hsl(227, 10%, 46%);

/* ### Neutral */

--Dark_gray: hsl(0, 0%, 59%);

/* ## Typography */
/* --Font_size (name and stats): 18px */
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Kumbh Sans", sans-serif;
} 

body {
    background: var(--Dark-cyan);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    max-width: 120rem;
    max-height: 90rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bg {
    width: 80rem;
}

.image1 {
    transform: translate(-26rem, 10rem);
}


.image2 {
    transform: translate(50rem, -5rem);
}

